.App {
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 40px;
    font-size: 16px;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    }
    h1{
    color: forestgreen;
    }
    .input{
    padding-left: 5px;
    font-size: 20px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 15px;
    }
    thead{
    background-color: rgb(68, 176, 226);
    color: white;
    text-align: center;
    }
    tbody > tr{
    text-align: right;
    }
    .rank{
    padding-top: 25px !important;
    text-align: center;
    font-weight: bold;
    }
    .padding_tbody{
    padding-top: 25px !important;
    }
    .logo{
    display: flex;
    justify-content: flex-start;
    padding-left: 10%;
    gap: 10px;
    align-items: center;
    }
    .symbol{
    text-align: center;
    }
    .title {
        margin: 0px ;
        padding: 20px;
        cursor: pointer
    }

    .details-info{
        display: flex;
         justify-content: space-between;
          margin-top: 20px
    }
    .details-info  > .item{
      width: 15%;
    }
  .price {
    font-size: 35px;
    font-weight: 500;
  }



    @media 
    only screen and (max-width: 760px)  {
    
        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr { 
            display: block; 
        }
        
        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        
        tr { border: 1px solid #ccc; }
        
        td { 
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee; 
            position: relative;
            padding-left: 50%; 
        }
        .details-info{
              flex-direction: column;
        }
        .details-info  > .item{
            width: auto
          }
        td:before { 
            /* Now like a table header */
            /* position: absolute; */
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%; 
            padding-right: 10px; 
            white-space: nowrap;
        }
        .logo {
            flex-direction: column;
            background-color: #8aeacb !important;
            box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px !important;
        }
        .logo > img{
            width: 50px;
            height: 50px;
        }
        .logo > .title{
           padding: 0px;
        }
        .padding_tbody {
            text-align: center;
        }

        .price {
            font-size: 20px;
            font-weight: "500"
          }
        /*
        Label the data
        */
        /* td:nth-of-type(2):before { content: "Symbol"; } */
        td:nth-of-type(3):before { content: "Price : "; }
        td:nth-of-type(4):before { content: "Maket Cap : "; }
        td:nth-of-type(5):before { content: "Available Supply : "; }
        td:nth-of-type(6):before { content: "Volume(24hr) : "; }
    
    }